@font-face {
    font-family: cs;
    src :url(./fonts/IMFellGreatPrimerSC-Regular.ttf)
}

@font-face {
    font-family: 'TTWanjudaedunsancheB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


a {
    text-decoration-line: none;
    color: white;
}

header {
    position: absolute;
    top: 20px; /* 수정된 부분 */
    right: 15px; /* 수정된 부분 */
    font-size: 20px;
    font-family: cs;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
body {
    background-image: url(./img/background.png);
    background-size: cover;
}
.dark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
}
.container {
    width : 100vw;
    height: 100vh;
}

.banner {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 50%;
    bottom: -100%;
    transform: translateX(-50%) translateY(-15%);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slide-up 2s ease forwards, fade-in 1.5s ease forwards; /* 애니메이션 적용 */
    opacity: 0;
}

.banner img {
    transform: translateY(20%);
}

.paper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.paper img {
    width: 100%;
    height: 100%;
}

@keyframes slide-up {
    0% {
        bottom: -100%;
    }
    100% {
        bottom: -10%;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.banner img {
    margin-bottom: 10px;
    width: 28%;
}
.logo {
    transform: translateY(-20%);
}
.title {
    color: white;
    font-size: 70px;
    text-align: center;
    font-family: 'cs';
    transform: translateY(10%);
}

.story {
    position: absolute;
    width: 70%;
    height: 70%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-family: 'InkLipquid';
}

.download {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-family: 'TTWanjudaedunsancheB';
    font-size: 70px;
    border-radius: 15px;
    width: 70%;
    height: 20%;
    text-align: center;
    transform: translateY(20%);
}

.slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .slide {
    text-align: center;
  }
  
  
  .slick-prev,
  .slick-next {
    top: 50%;
    transform: translateY(-50%);
  }
  .slick-next {
    background-image: url(img/next.png);
  }
  .prev-arrow,
  .next-arrow{

    height: 30px;
    width: 200px !important;
    border-radius: 100px;
  }
  .prev-arrow{
    background-image: url(img/prev.png);
  }
  .next-arrow{
    background-image: url(img/next.png);
  }

  .valah {
    width: 100%;
    height: 100%;
    background-color: red;
  }
  
  .banner a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .banner a img {
    transform: translateY(70%);
    width: 10%;
  }